.topic{
    margin: 2rem 0;
}

form{
   padding: 2rem;
   width: 60%;
   box-shadow: 0.4rem 0.4rem 1rem grey;
   border-radius: 2rem;
   background-color: rgba(233, 235, 235, 0.621);
}

.form-box {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

.btns{
    display: flex;
    justify-content: center;
}

.btns button{
    width: 20%;
    margin: .8rem;
}   